<!-- wp:template-part {"slug":"header","theme":"multiloquent","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main
    class="wp-block-group"
    style="padding-top: var(--wp--preset--spacing--70); padding-bottom: var(--wp--preset--spacing--70)"
>
    <!-- wp:group {"className":"has-surface-background-color has-background"} -->
    <div class="wp-block-group has-surface-background-color has-background">
        <!-- wp:query-title {"type":"archive","style":{"typography":{"fontWeight":"700"}},"fontSize":"xx-large"} /-->

        <!-- wp:term-description {"style":{"color":{"text":"var:preset|color|muted"},"spacing":{"margin":{"top":"var:preset|spacing|20"}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:multiloquent/archive-loop /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"multiloquent","tagName":"footer"} /-->
